<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html layout:decorator="layout/layout" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p layout:fragment="headline" th:text="${'Witaj, ' + recipientsName + '.'}">Witaj, Ziomuś</p>
<div layout:fragment="content">
    <p>
        Otrzymaliśmy prośbę o zmianę hasła dla Twojego konta. Jeżeli pochodzi ona od Ciebie, w celu zresetowania
        starego hasła i ustawienia nowego, kliknij w poniższy link:<br/>
        <br/>
        <a th:href="${passwordResetUrl + token}" th:text="${passwordResetUrl + token}">link</a><br/>
        <br/>
        lub wklej go do paska swojej przeglądarki.
    </p>
    <p>
        Jeśli prośba o zmianę hasła nie pochodzi od Ciebie lub wybrałeś ją omyłkowo, zignoruj tę wiadomość.
        Hasło pozostanie niezmienione.
    </p>
    <p>
        Pamiętaj, że Twój link do zmiany hasła jest ważny tylko 24 godziny i może być użyty tylko raz.
    </p>
</div>
</body>
</html>